@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url('./assets/polygon-scatter-haikei.png');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    background-attachment: fixed; /* sasakupin ng image yung buong body */
}